:root {
  --princ-font: "Roboto", sans-serif;
  --font-color: #2f2f2f;
  --primary: #03a9f4;
  --white: #f2f2f2;
  --grey: #bdbdbd;
}

body {
  overflow: hidden;
  font-weight: 300;
  font-family: var(--princ-font);
  color: var(--font-color);
}

.bg-primary {
  background-color: var(--primary) !important;
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
  padding-top: 20px;
  color: var(--white);
  font-weight: bold;
  font-size: 1.9rem;
  text-align: center;
  text-transform: uppercase;
}

#sidebar-container .menu {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Globales */
.menu__item {
  display: block;
  padding-top: 0.4rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  padding: 1.3rem;
}

.menu__item:hover {
  background-color: var(--white);
  padding: 1.5rem;
  color: var(--font-color);
}

/* .btn {
  color: var(--primary) !important;
} */

/* .btn-outline-success {
  border-color: var(--primary) !important;
} */

/* .btn:hover {
  background-color: var(--primary) !important;
  background-color: var(--primary) !important;
  color: var(--white) !important;
} */

.form-control {
  font-size: 1.4rem !important;
}

.avatar {
  max-width: 3.2rem;
}

.text-grey {
  color: #464646;
}

.text-bg-primary {
  background-color: var(--primary) !important;
}

.bc-none {
  border-color: var(--white);
  cursor: pointer;
}

.d-flexx {
  display: flex;
  align-items: center;
  justify-content: start;
}

.sz-text {
  font-size: 1.6rem;
}

.fw-bold {
  color: var(--primary);
}

.btn-2 {
  background-color: var(--primary) !important;
  color: var(--white) !important;
  font-size: 1.2rem;
}

.btn-2:hover {
  background-color: #fff !important;
  color: var(--primary) !important;
}
