<div id="sidebar-container" class="bg-primary">
  <div class="logo">VETadmin</div>

  <div class="menu">
    <a href="/index.html" class="menu__item"><i class="fa-solid fa-house"></i> Inicio</a>
    <a href="/clientes.html" class="menu__item"
      ><i class="fa-solid fa-users"></i> Clientes</a
    >
    <a href="#" class="menu__item"
      ><i class="fa-solid fa-hand-holding-medical"></i> Consultas</a
    >
    <a href="#" class="menu__item"
      ><i class="fa-solid fa-capsules"></i> Farmacias</a
    >
  </div>
</div>
